@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

.App {
  h1 {
    font-family: "Spline Sans", sans-serif;
    text-align: center;
    font-size: 2.5rem;
  }
}
